html {
    background-color: black;    
}
.container {
   width: 150%; 
}
.videos {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.search-bar {
    margin: 20px;
    text-align: center;
}

.search-bar input {
    width: 75%;
}

.video-item img {
    max-width: 64px;
}

.video-detail .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.list-group-item {
    cursor: pointer;
    margin: 0 20px;
    width: 300px;
} 

.list-group-item:hover {
    background-color: #eee;
}

@media screen and (max-width: 1050px){
    .videos {
        flex-direction: column;
        justify-content: center;
    }
    .list-group-item {
        width: 103%;
        margin: 0;
    }
    .search-bar {
        border: black solid 1pt;
    }
    html {
        background-color: white;
    }
}